<p>Hello,</p>

<p><%= @name_of_user_requesting_verification %> would like to improve their grammar and writing skills on Quill.org!
For students under 13, Quill requires approval from a parent or gaurdian.</p>

<p>If you are the parent or gaurdian of <%= @name_of_user_requesting_verification %> and are happy to let them use Quill's online
writing and grammar platform, please follow this link,</p>

<p><a href=<%= @verification_link %>><%= @verification_link %></a></p>

<p>To learn more about Quill.org and how we have helped over a million students improve their writing, please visit us <a href='quill.org'>here</a>

<p>Thanks,</p>

<p>The Quill Team</p>
