<p>Hello <%= @name_of_user_requesting_verification %>,

<p>We're so excited to help you improve your grammar and writing skills on Quill.org!</p>

<p>To verify your account and start using  Quill's online writing and grammar platform, please follow this link,</p>

<p><a href=<%= @verification_link %>><%= @verification_link %></a></p>

<p>To learn more about Quill.org and how we have helped over a million students improve their writing, please visit us <a href='quill.org'>here</a>

<p>Thanks,</p>

<p>The Quill Team</p>
